<header id="main_header">
	<h1>
		<a href="/" class="logo_site">
			<span>Logo</span>
		</a>
	</h1>
	<nav class="">
		<ul class="nav_tab">
			<li class="active">
				<a href="#">
					RAISE CAPITAL
				</a>
				<div class="border_80p"></div>
			</li>
			<li class="">
				<a href="#">
					BROWSE COMPANIES
				</a>
				<div class="border_80p"></div>
			</li>
			<li class="">
				<a href="#">
					LEARN
				</a>
				<div class="border_40p"></div>
			</li>
			<li class="">
				<a href="#">
					<button type="button" class="btn btn-primary">log in</button>
				</a>
			</li>
			<li class="">
				<a href="#">
					<button type="button" class="btn btn-primary">sign up</button>
				</a>
			</li>
		</ul>
	</nav>
	<div class="mobile menu_button">
		Access menu
	</div>
</header>
